@import "../common/styles/variables";

.header {
    height: 80px;
    background-color: $bgColor;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
}