@import "../../common/styles/variables";

.skill {
  flex: 0 0 28%;
  max-width: 28%;
  padding: 0 15px;
  width: 100%;
  min-height: 1px;

  .skillText {
    display: block;
    margin-bottom: 18px;
    font-weight: 300;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
  }

  .chartBar {
    margin-bottom: 45px;
    display: block;
    border-radius: 2px;
    height: 1px;
    position: relative;
    width: 100%;
    background: #555;
    .itemProgress {
      background-color: $primaryColor;
      border-radius: 2px;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
    }
  }
}
