@import "../common/styles/variables";

.aboutMeBlock {
  background-color: $bgSecondColor;
  padding: 50px 0;
  color: $textColor;

  .aboutMeContainer {
    //border: 1px solid blue;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    box-sizing: border-box;

    .informBlock {

      //border: 1px solid red;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;

      .imageContainer {
        position: relative;
        display: block;
        max-width: 440px;
        max-height: 440px;


        .photo {
          //border: 1px solid green;
          width: 440px;
          height: 440px;
          vertical-align: middle;
          border-style: none;
          object-fit: cover;
          position: relative;

        }

        &::before {
          position: absolute;
          content: '';
          border: 6px solid $primaryColor;
          z-index: 0;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          transform: translate3d(26px, 26px, -26px);
        }
      }

      .info {
        width: auto;
        //border: 1px solid;
        display: flex;
        flex-direction: column;
        padding: 40px 15px;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;

        .infoContainer {
          display: flex;
          flex-wrap: wrap;


          .info1 {
            //border: 1px solid;
            padding: 0 40px;
            //margin-right: 50px;

            & div {
              margin: 0;
              padding-bottom: 21px;
              height: 20px;

              & h6 {
                margin-bottom: 0;
                margin-top: 5px;
                font-size: 1.1rem;
                font-family: 'Open Sans', sans-serif;
                line-height: 1.2;
                text-transform: inherit;
                font-weight: 500;
              }
            }
          }
        }

        .downloadButton {
          margin-left: 40px;
          background-color: $primaryColor;
          border: none;
          color: $textColor;
          cursor: pointer;
          padding: 0 33px;
          font-weight: 500;
          line-height: 46px;
          font-size: 15px;
          font-family: 'Poppins', sans-serif;
          letter-spacing: .5px;
          border-radius: 26px;
        }

        & span {
          opacity: 0.8;
          padding-right: 20px;
        }
      }

      @media screen and (max-width: 1300px) and (min-width: 550px) {
        & {
          flex-direction: column;
          align-items: center;

          .info {
            padding-top: 60px;

            .infoContainer {
              .infoLeft {
                text-align: right;
              }

              .info1 {
                padding: 0 20px;


                div {
                  position: relative;
                  padding-bottom: 21px;
                  height: 45px;

                  h6 {
                    margin: 5px 0 0;

                    span {
                      display: block;
                      padding-right: 0;
                    }
                  }
                }
              }
            }
          }
        }
      }
      @media screen and (max-width: 550px) {
        & {
          flex-direction: column;
          align-items: center;

          .imageContainer {
            .photo {
              width: 90%;
            }
          }
        }
      }
    }

    .aboutSection {
      margin: 72px auto 50px;
      opacity: .5;
    }

    .skillsBlock {
      display: flex;
      flex-wrap: wrap;
      .skillsTitle {
        padding: 0 15px;
        max-width: 100%;
        flex: 0 0 100%;
        & h2 {
          font-family: 'Poppins', sans-serif;
          font-weight: 600;
          font-size: 23px;
          margin-top: 0;
          padding-top: 50px;
          margin-bottom: 50px;
        }
      }
    }
  }
}






