@import "../common/styles/variables";

.footerBlock {
    background-color: $bgColor;
    padding: 15px;
}

.footerContainer {
    padding: 5px;
    width: 90%;
    height: 100%;
    //border: 1px solid;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
    color: $textColor;
}

.title {
    margin: 10px 0;
    //border: 1px solid;
    box-sizing: border-box;
}

.messengers {
    display: flex;
    //border: 1px solid;
    box-sizing: border-box;
    gap: 20px;
    padding: 5px;
}

.messenger {
    text-align: center;
    padding-top: 4px;
    width: 35px;
    height: 35px;
    //border: 1px solid $primaryColor;
    //border-radius: 50%;
    box-sizing: border-box;
    color: $primaryColor;
}

.rights{
    //border: 1px solid;
    box-sizing: border-box;
    margin: 10px 0;
}